/* Put your custom CSS here */

div.ui-header div.back{
	float:left; 
	left: 0px;
	position:absolute; 
	background-color: transparent;
	height: 42px;
	margin-top: -43px;
	width: 44px;
	border-right: 1px solid #87b526;
	background-image: url(img/back.png);
	padding-bottom: 1px;
}
div.ui-header div.back:active{
	background-color: #6b2d87;
}
div#page1 div.ui-content div#pgpaso1 div#btnuni{
	height: 80px;
    margin: 4px;
	background: url(img/universidad.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btnuni:active{
	background: url(img/universidad2.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btnip{
	height: 80px;
    margin: 4px;
	background: url(img/instituto-profesional.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btnip:active{
	background: url(img/instituto-profesional2.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btncft{
	height: 80px;
    margin: 4px;
	background: url(img/cft.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btncft:active{
	background: url(img/cft2.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso2 div#btnconsultar{
    height: 80px;
    margin: 4px;
    background: url(img/consultar.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso1 div#btnconsultar:active{
    background: url(img/consultar2.png) no-repeat center;
}
div#page1 div.ui-content div#pgpaso3 ul li{
	height: 50px;
	padding-bottom: 0;
}
div#page1 div.ui-content div#pgpaso3 ul li div.listatop{
        background: #1d7f2a;
        height: 25px;
        float: left;
        -webkit-transform: skew(30deg);
             -o-transform: skew(30deg);
}
div#page1 div.ui-content div#pgpaso3 ul li:active div.listatop{
	background: #006600;
}
div#page1 div.ui-content div#pgpaso3 ul li div.listabottom {
        background: #1d7f2a;
        height: 25px;
        float: left;
        -webkit-transform: skew(-30deg);
           -moz-transform: skew(-30deg);
             -o-transform: skew(-30deg);
}
div#page1 div.ui-content div#pgpaso3 ul li:active div.listabottom{
	background: #006600;
}
div#page1 div.ui-content div#pgpaso3 ul li div.listatoph{
        background: #006600;
        height: 25px;
        width: 140px;
        float: left;
        -webkit-transform: skew(30deg);
             -o-transform: skew(30deg);
}
div#page1 div.ui-content div#pgpaso3 ul li div.listabottomh {
        background: #006600;
        height: 25px;
        width: 140px;
        float: left;
        -webkit-transform: skew(-30deg);
           -moz-transform: skew(-30deg);
             -o-transform: skew(-30deg);
}
div#page1 div.ui-content div#pgpaso3 ul li div.listatext{
	color: white;
	margin-top: 9px;
	margin-left: 4px;
	text-align: center;
	position: absolute;
	font-weight:normal;
}
div#page1 div.ui-content div#pgpaso3 ul li div.listaiconos{
	position: absolute;
	right: 26px;
	top: 19px;
	width: 120px;
}
div#page1 div.ui-content div#pgpaso3 ul li div.listaiconos img{
	float: right;
    padding-right: 5px;
}
.custom-button {
    height: 80px !important;
}

.custom-button .ui-btn-inner {
    padding: 0 !important;    
}

.custom-button .ui-btn-inner .ui-btn-text {
    display: block !important;
    height: 80px !important;
    width: 100% !important;
    background-image: url('img/instituto-profesional.png') !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important; 
}
.custom-button .ui-btn-inner .ui-btn-text:active{
    background-image: url('img/instituto-profesional2.png') !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important; 
}